{% extends 'base.html' %}

{% block content %}
<div class=relative z-10 max-w-3xl mx-auto bg-white/80 rounded-lg p-8 shadow-lg">
    <h1>LakeBlvd Net</h1>
    <p class="text-lg text-gray-600 mb-8">
        This is Andy Zhou, and welcome to my website. Currently it is under development, and please contact me to access more features.
    </p>
    <p class="text-lg text-gray-600 mb-8">
        <li>
            <ul>GitHub: <a href="https://github.com/Nvl1024"></a>
            </ul>
        </li>
    </p>
</div>
{% endblock %}
